<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{Patient.user.first_name}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="/static/style.css" rel="stylesheet">
    <style>
        .navbar-custom {
            color: #FFFFFF;
            background-color: #37c1cc;
        }

        .font-here {
            color: #FFFFFF;
        }
    </style>
</head>


<body>
    <!--- navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{%url 'home'%}"><img src="https://raw.githubusercontent.com/ganzourii/SE2018G10/master/CareHub/media/carehubwhite.png" hight=2 width=130></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'home'%}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Services</a>
                        <ul class="nav-item dropdown-menu">
                            <li><a class="nav-link text-here" href="{%url 'clinic-list'%}">Clinics</a></li>
                            <li><a class="nav-link text-here" href="{%url 'staff-list'%}">Staff</a></li>
                            <li><a class="nav-link text-here" href="{%url 'scan-list'%}">Scans</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if not request.user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li><a style="padding-left:750px" class="nav-link" href="{% url 'accounts:profile' %}">Profile</a></li>
                    <li><a class="nav-link" href="{% url 'accounts:signout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
  <div class="container-fluid">

    <div class="jumbotron" style="background:transparent">
      <img class="img-circle image" src="{{ Patient.image.url }}" width="200" height="200">
      <h2 style="font family:Solomon; color:#37c1cc;">{{ Patient.user.first_name }} {{ Patient.user.last_name }}</h2>

      <ul class="nav nav-tabs" style="font family:Solomon; color:#37c1cc;">
        <li class="active"><a data-toggle="tab" href="#home">Basic info</a></li>
        <li><a data-toggle="tab" href="#menu1">Medical History</a></li>
        <li><a data-toggle="tab" href="#menu2">Additional info</a></li>
        <li><a data-toggle="tab" href="#backlog">Backlog</a></li>

      </ul>

      <div class="tab-content">

        <div id="home" class="tab-pane fade in active">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Age </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{ Patient.Age }} </h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Blood Type </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{ Patient.Blood_Type }} </h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Weight </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{ Patient.Weight }} </h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Height </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{ Patient.Height }} </h4>
                </td>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Contact </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> 0{{ Patient.Contact }} </h4>
                </td>
              </tr>

              </tr>

            </tbody>


          </table>

        </div>


        <div id="menu1" class="tab-pane fade">

          <table class="table">
            <tbody>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Allergies </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{Patient.Contact}} </h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Organ Donor </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{Patient.Organ_Donor}} </h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Medications </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{Patient.Medications}} </h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Past operations </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{Patient.Past_Operations}} </h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Family History </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{Patient.Family_History}} </h4>
                </td>
              </tr>


            </tbody>


          </table>

        </div>
        <div id="menu2" class="tab-pane fade">

          <table class="table">
            <tbody>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;">Athletic</h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{Patient.Athletic}} </h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> Smoker </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{Patient.Smoker}} </h4>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;"> E-mail </h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;"> {{Patient.user.email}} </h4>
                </td>
              </tr>




            </tbody>


          </table>


        </div>

        <div id="backlog" class="tab-pane fade">

          <table class="table">
            <tbody>
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;">Clinic</h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;">Doctor</h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;">Date</h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;">Time</h4>
                </td>
              </tr>
              {% for Reservation in Reservations %}
              <tr>
                <td>
                  <h4 style="font family:Solomon; color:#37c1cc;">{{ Reservation.Clinic }}</h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;">{{ Reservation.Doctor }}</h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;">{{ Reservation.DateOfBook }}</h4>
                </td>
                <td>
                  <h4 style="font family:Solomon; color:#23797f;">{{ Reservation.Time }}</h4>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>


        </div>


      </div>
    </div>

    </br>


    <form action='patient_update/{{ Patient.pk }}' method='GET'>

      <div class="form-group " align="center">
        <a href="{% url 'Profile:patient-update' Patient.pk %}" class="btn btn-info">Update Info</a>
      </div>
    </form>

</div>
    <!--- Footer -->
  <footer>
      <div class="container-fluid padding">
          <div class="row text-center">
              <div class="col-md-4">
                  <img src="https://raw.githubusercontent.com/ganzourii/SE2018G10/master/CareHub/media/carehubwhite.png"
                       hight=3 width=130>
                  <hr class="light">
                  <p>5555-5555</p>
                  <p>email@hospital.com</p>
                  <p>100 Street Name</p>
                  <p>City,Country,00000</p>
              </div>
              <div class="col-md-4">
                  <hr class="light">
                  <h5>Our branches</h5>
                  <hr class="light">
                  <p>.......</p>
                  <p>.......</p>
                  <p>.......</p>
                  <p>.......</p>
              </div>
              <div class="col-md-4">
                  <hr class="light">
                  <h5>Our Services</h5>
                  <hr class="light">
                  <p>.......</p>
                  <p>.......</p>
                  <p>.......</p>
                  <p>.......</p>
              </div>
              <div class="col-12">
                  <hr class="light">
                  <h5>&copy; ainshams.com</h5>
              </div>
          </div>
      </div>
  </footer>

</body>

</html>
