{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class = "jumbotron" style = "background:transparent">
    <h1 style = "color:#37c1cc;" align = "center"> Staff </h1>
  </div>

  <div class="row">
    {% for doctor in doctors%}
    {% if doctor.availability %}
<div class="card col-md-3 col-md-offset-1" style="width: 18rem;">
  <img class=" rounded-circle card-img-top" src="/static/{{ doctor.image }}" alt="{{ doctor.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ doctor.name }}</h5>
  </div>
  <a class="btn btn-info" href="{% url 'staff-detail' doctor.id %}">More info about doctor</a>
  <!--<ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>-->
</div>
    {% endif %}
   {% endfor %}
</div>

{% endblock content %}