{% extends "base.html" %}
{% block content %}

<br>
<br>
<div class="container text-center">
    <div>
        <img class="img-circle image" src="/static/{{object.image}}" width="180" height="180">
        <br>
        <br>
        <h3 style="color:#23797f;"> Dr. {{object.name}} </h3>
        <br>
        <h4 style="color:#37c1cc;">
            Expertise: {{object.expertise}} </h4>
        <br>
        <h5 style="color:#23797f;"> Email: {{object.email}} </h5>
        <br>
        <h5 style="color:#37c1cc;">
            Rating: {{object.rating}} </h5>
    </div>
    <a class="btn btn-danger" href="#">Delete</a>
    <a href="#" class="btn btn-info">Edit</a>
    <br>
    <br>
</div>

<br>
<br>

{% endblock content %}
