{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class = "jumbotron" style = "background:transparent">
    <h1 style = "color:#37c1cc;" align = "center"> Staff </h1>
  </div>

  <div class="row">
    {% for doctor in doctors%}
    {% if doctor.availability %}
<div class="card col-md-3 col-md-offset-1" style="width: 18rem;">
  <img class="card-img-top" src="{{ doctor.image }}" alt="{{ doctor.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ doctor.name }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    {% endif %}
   {% endfor %}
</div>

{% endblock content %}