{% extends "base.html" %}
{% load ratings %}

{% block content %}

<br>
<br>
<div class="container text-center">
    <div>
        <img class="img-circle image" src="/static/{{object.image}}" width="180" height="180">
        <br>
        <br>
        <h3 style="color:#23797f;"> Dr. {{object.name}} </h3>
        <br>
        <h4 style="color:#37c1cc;">
            Expertise: {{object.expertise}} </h4>
        <br>
        <h5 style="color:#23797f;"> Email: {{object.email}} </h5>
        <br>
        <h5 style="color:#37c1cc;">
		{% if not request.user.is_staff %}
			{% ratings object %}
		{% endif %}
</h5>
    </div>
    {% if request.user.is_superuser %}
    <a class="btn btn-danger" href="{% url 'staff-delete' doctor.id %}">Delete</a>
    <a href="{% url 'staff-update' object.id %}" class="btn btn-info">Edit</a>
    {% endif %}

    <br>
    <br>
</div>

<br>
<br>

{% endblock content %}
