<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Join CareHub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <!--- navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{%url 'home'%}"><img src="https://raw.githubusercontent.com/ganzourii/SE2018G10/master/CareHub/media/carehubwhite.png" hight=2 width=130></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'home'%}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Services</a>
                        <ul class="nav-item dropdown-menu">
                            <li><a class="nav-link text-here" href="{%url 'clinic-list'%}">Clinics</a></li>
                            <li><a class="nav-link text-here" href="{%url 'staff-list'%}">Staff</a></li>
                            <li><a class="nav-link text-here" href="{%url 'scan-list'%}">Scans</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if not request.user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'accounts:signin' %}">Login</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'accounts:profile' %}">Profile</a></li>
                    <li><a class="nav-link" href="{% url 'accounts:signout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <br />
    <br />


    <div class="container">
        <h2 style="font family:Solomon; color:#37c1cc;">Sign up to CareHub</h2>


        <h2></h2>

        <form action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if error_message %}
                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                {% endif %}

                <div class="form-group">
                    <div class="controls form-inline">
                        <div class="form-group">
                            <label for="{{ form.first_name.id_for_label }}" style="font family:Solomon; color:#23797f;">FirstName :</label>
                            <div> {{ form.first_name }} </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.last_name.id_for_label }}" style="font family:Solomon; color:#23797f;">LastName :</label>
                            <div> {{ form.last_name }} </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" style="font family:Solomon; color:#23797f;">Username:</label>
                    <div> {{ form.username }} </div>
                    <span class="help-block" style="font family:Solomon; color:#23797f;">This will be your username. </span>
                </div>

                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" style="font family:Solomon; color:#23797f;">Email:</label>
                    <div> {{ form.email}} </div>
                    <span class="help-block" style="font family:Solomon; color:#23797f;">We’ll occasionally send updates about your account to this inbox. We’ll never share your</span>
                    <span class="help-block" style="font family:Solomon; color:#23797f;">email address with anyone.</span>
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}" style="font family:Solomon; color:#23797f;">Password:</label>
                    <div> {{ form.password }} </div>
                    <span class="help-block" style="font family:Solomon; color:#23797f;">Make sure it's more than 15 characters, or at least 8 characters, and including a number.</span>
                </div>

                <div class="form-group">
                    <label for="{{ form.password_repeat.id_for_label }}" style="font family:Solomon; color:#23797f;">Verify Password:</label>
                    <div> {{ form.password_repeat }} </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info" role="button" value="submit">
                </div>


            </div>
        </form>
        </div>

        <br />
        <br />
    <!--- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="https://raw.githubusercontent.com/ganzourii/SE2018G10/master/CareHub/media/carehubwhite.png" hight=3 width=130>
                    <hr class="light">
                    <p>5555-5555</p>
                    <p>email@hospital.com</p>
                    <p>100 Street Name</p>
                    <p>City,Country,00000</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Our branches</h5>
                    <hr class="light">
                    <p>.......</p>
                    <p>.......</p>
                    <p>.......</p>
                    <p>.......</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Our Services</h5>
                    <hr class="light">
                    <p>.......</p>
                    <p>.......</p>
                    <p>.......</p>
                    <p>.......</p>
                </div>
                <div class="col-12">
                    <hr class="light">
                    <h5>&copy; ainshams.com</h5>
                </div>
            </div>
        </div>
    </footer>
       

</body>
</html>
