{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container text-center">
  <div class="row">
    <form method="post" style="width: 50%; margin: auto; padding-top: 150px; padding-bottom: 150px;">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <button class="btn btn-outline-danger" > Confirm </button>
        <a class="btn btn-outline-secondary" href="{% url 'service-detail' object.id %}"> Cancel </a>
    </form>
</div>
</div>

{% endblock content %}