{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<br>
<div class="container">
    <div>
        <img class="img-circle image" src="/static/{{object.image}}" width="180" height="180">
        <br>
        <br>
        <h3 style="color:#23797f;"> Name: {{object.name}} </h3>
        <br>
        <h4 style="color:#37c1cc;">
            Doctors:
            {% for doctor in object.doctors.all %}
            <br>
            {{doctor}}
            {% endfor %}
        </h4>
        <br>
        <h5 style="color:#23797f;"> Start Time: {{object.start_time}} </h5>
        <br>
        <h5 style="color:#23797f;"> End Time: {{object.end_time}} </h5>
        <br>
    </div>
    <a class="btn btn-danger" href="#">Delete</a>
    <a href="#" class="btn btn-info">Edit</a>
    <br>
    <br>
</div>

{%endblock content%}