{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<br>
<div class="container">
    <div>
        <img class="img-circle image" src="/static/{{object.image}}" width="180" height="180">
        <br>
        <br>
        <h3 style="color:#23797f;"> Name: {{object.name}} </h3>
        <br>
        <h4 style="color:#37c1cc;">
            Doctors:
            {% for doctor in object.doctors.all %}
            <br>
            {{doctor}}
            {% endfor %}
        </h4>
        <br>
        <h5 style="color:#23797f;"> Start Time: {{object.start_time}} </h5>
        <br>
        <h5 style="color:#23797f;"> End Time: {{object.end_time}} </h5>
        <br>
    </div>
    {%if request.user.is_authenticated%}
    <form action="post">
        {% csrf_token %}
        <input type="text" hidden value="{ object.name }" >
        <input type="submit" class="btn btn-outline-primary" value="Book">  
        


    </form>
     <a href="{%url 'book' %}" class="btn btn-info">Book</a>
    <br>
    {%endif%}
    <br>
</div>

{%endblock content%}